<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793520647227-j2bmut6asva6cafsf226bv9j4nl9ulri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793520647227-j2bmut6asva6cafsf226bv9j4nl9ulri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793520647227-k63vacf75ft1sccl2infndr5hdseerp5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsvL5ByonXoK-_pGSMDMu8vxWCYif9PGc</string>
	<key>GCM_SENDER_ID</key>
	<string>793520647227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flut1</string>
	<key>PROJECT_ID</key>
	<string>keeen-d5806</string>
	<key>STORAGE_BUCKET</key>
	<string>keeen-d5806.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793520647227:ios:68f365ae0ac7aff622801e</string>
</dict>
</plist>